SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_WS_URL=wss://api.mainnet-beta.solana.com/
POOL_ACTIVITY_TIMEOUT_SEC=60
PAPER_SELL_AMOUNT_BASE_UNITS=0
COMMITMENT=confirmed
LOG_LEVEL=INFO
PAPER_MODE=true
